front-end/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

.vscode/

dist/
build/
*.tmp
*.temp

.env

# --- PlatformIO / ESP32 Firmware ---
.pio/
**/.pio/
**/firm-ware/.pio/
.clang-format

# --- Python / C++ Cache (Common in hardware projects) ---
__pycache__/
*.pyc
